---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Posts";
const allPosts = await Astro.glob('../posts/*.md');
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
const tags = [...new Set(nonDraftPosts.map((post) => post.frontmatter.tags).flat())];
---
<BaseLayout pageTitle={pageTitle}>
    <div class="article-list">
        <h2>タグ一覧</h2>
        <div class="tag">
            {tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
        </div>
    </div>

    <p>
        <a href="../posts" class="btn-flat-border">記事一覧</a>
    </p>
</BaseLayout>
