---
// import Header from '../components/Header.astro';
// import Footer from "../components/Footer.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="contents">
        <h2>プロフィール</h2>
        <p>
            社会人をやってます。大学院で数値解析とかシミュレーション理工学とかいうのかじってたけど何もわからない。物理学はもっとわからない。修士（工学）。
        </p>
        <p>
            お出かけするのがすきです。車を運転してどこか行ったり、電車に乗ってどこか行ったりします。歩いてどこかに行ったりすることもありますが、そんな長距離は歩いてなくて散歩程度の距離なはず。要するに<a href="https://trpfrog.net/walking">徒歩</a>じゃないはず。
        </p>
        <p>
            好きな食べ物は蕎麦です。おいしい蕎麦屋があるとちょっとうれしい。でも大抵財布には優しくないのでちょっとつらい。
        </p>
    </div>

  </BaseLayout>
