---
// import Header from '../components/Header.astro';
// import Footer from "../components/Footer.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Links";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="contents">
        <h2>使うツールのリンク集</h2>
        <a href="https://www.google.co.jp" target="_blank" class="btn-flat-border">Google</a>
        <a href="https://www.tablesgenerator.com/" target="_blank" class="btn-flat-border">LaTeX用表生成サイト</a>
        <a href="http://www.falstad.com/circuit/" target="_blank" class="btn-flat-border">回路シミュレータ</a>
    </div>

</BaseLayout>
