---
// .astroファイルのフロントマターの中身がない場合は、コードフェンスを書かなくても構いません。必要になってからいつでも追加できます。
---

<div class="nav-links">
    <span class="web-title"><a href="/">ふみ箱</a></span>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/links/">Links</a>
    <a href="/posts/">Posts</a>
</div>