---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
        
    <div class="databox">
        <p class="article-pub-date">{frontmatter.pubDate.slice(0,10)}</p>
        <p class="tag">タグ: 
        {frontmatter.tags.map((tag) => (
          <a href={`/tags/${tag}`}>{tag}</a>
        ))}
        </p>
    </div>
    <div class="contents">
        <slot />
    </div>
    <p>
        <a href="./" class="btn-flat-border">記事一覧へ</a>
        <a href="../tags" class="btn-flat-border">タグ一覧へ</a>
    </p>

</BaseLayout>
